.header {
  display: flex;
  flex-direction: column;
  img {
    object-fit: contain;
  }
  .heading {
    padding: 0 1.6rem;
    display: flex;
    @media only screen and (min-width: 760px) {
      padding: 0;
      margin-left: -4rem;
    }

    &__title {
      text-transform: uppercase;
      margin: 3.2rem 0;
    }

    &__info {
      max-width: 35rem;
    }
  }
  @media only screen and (min-width: 760px) {
    flex-direction: row;
    align-items: center;
  }
}
